@font-face {
    font-family: RubikBeastly;
    src: url(../../fonts/RubikBeastly/RubikBeastly-Regular.ttf);
}
@font-face {
    font-family: HennyPenny;
    src: url(../../fonts/HennyPenny/HennyPenny-Regular.ttf);
}
@font-face {
    font-family: Merienda;
    src: url(../../fonts/Merienda/Merienda-Regular.ttf);
}
// @font-face {
//     font-family: Baumans;
//     src: url();
// }
// @font-face {
//     font-family: Passion-One;
//     src: url();
// }
// @font-face {
//     font-family: Roboto;
//     src: url();
// }
// @font-face {
//     font-family: Dhurjati;
//     src: url();
// }
// @font-face {
//     font-family: Lalezar;
//     src: url();
// }