// COLOR PALETTE
$clr1: #723800; 
$clr2: #CEF6FF; 
$clr3: #B8C0C6; 
$clr4: #F0F8FF;
$clr5: #343B40;
$clr6: #00C6B1; 
$clr7: #005ef5; 

$bclr0: #2F4858;
$bclr1: #d9b51c;
$bclr2: #cd8313;
$bclr3: #b04632;
$bclr4: #89609e;
$bclr5: #051e8c;

// LAYOUT BREAKPOINTS
$break-wide: 2000px;
$break-normal: 1200px;
$break-medium:900px;
$break-narrow: 700px;
$break-mobile: 550px;
