.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: rem(10px);

    form {
        h1:first-child {
            align-self: center;
        }

        background-color: $clr2;
        border-radius: rem(10px);
        padding: rem(10px);

        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 5px;

        input {
            border-radius: 10px;
            padding: 10px;
        }
        button {
            border-radius: 10px;
            padding: 10px;
            background-color: rgba(31, 255, 65, 1);
            margin-block-start: 10px;
        }

        p {
            cursor: pointer;
            span {
                color: blue;
            }
            align-self: flex-end;
        }
    }

    @include for-mobile-layout {
        form {
            width: 100%;
        }
    }
}
